@model Booki.Models.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Ajax.BeginForm("Login", "ControloAcessos", new AjaxOptions
{
    OnSuccess = "OnSucessForm",
    HttpMethod = "POST"
}))
{
    <div class="content-controlo-acesso">
        <h2 class="title-controlo">Booki - Login</h2>

        <div class="form-group">
            <label>Nome de utilizador</label>
            @Html.TextBoxFor(o => o.Username, new { @class = "form-control input-sm", @placeholder = "Nome de utilizador" })

        </div>
        <div class="form-group">
            <label>Palavra-passe</label>
            @Html.PasswordFor(o => o.Password, new { @class = "form-control input-sm", @placeholder = "Palavra-passe" })
            @Html.ValidationMessageFor(o => o.Password)
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block btn-lg">Entrar</button>
        </div>

        <a href="@Url.Action("Registo", "ControloAcessos")" class="link-controlo">Criar nova conta</a>

    </div>
}