@{
    ViewBag.Title = "Home Page";
}

<style>
    .content-destaques {
        margin: 10px;
        background: #dedede;
        padding: 10px;
        box-shadow: 0px 0px 19px -6px rgba(0,0,0,0.75);
    }
        .content-destaques a {
            margin-top: 15px;
            min-width: 160px;
        }
    .jumbotron {
        border-bottom: 2px solid red;
        margin-top: 2rem;
        box-shadow: 0px 0px 19px -6px rgba(0,0,0,0.75);
    }
</style>

<div class="jumbotron">
    <h1>Escolha o próximo destino!</h1>
    <div class="input-group">
        <input id="localizacao" type="text" placeholder="Para onde vai?" class="form-control" />
        <input id="data_inicio" type="date" class="form-control mb-0" />
        <input id="data_fim" type="date" class="form-control" />
        <a class="btn btn-danger btn-md float-right" onclick="OnClickPesquisar('@Url.Action("SearchDestinos", "Reservas")')">Pesquisar</a>
    </div>
</div>

<div class="row" style="text-align: center;">
    <div class="col-md-4">
        <div class="content-destaques">
            <h2>Porto</h2>
            <img class="w-75 m-auto" src="~/Content/Images/porto.jpg" />

            <a class="btn btn-danger btn-md" href="@Url.Action("SearchDestinos", "Reservas", new { dataInicio = DateTime.Today, dataFim = DateTime.Today.AddDays(1), localizacao = "Porto"})">Ver quartos</a>
        </div>
        
    </div>
    <div class="col-md-4">
        <div class="content-destaques">
            <h2>Lisboa</h2>
            <img class="w-75 m-auto" src="~/Content/Images/lisboa.jpg" />

            <a class="btn btn-danger btn-md" href="@Url.Action("SearchDestinos", "Reservas", new { dataInicio = DateTime.Today, dataFim = DateTime.Today.AddDays(1), localizacao = "Lisboa"})">Ver quartos</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="content-destaques">
            <h2>Faro</h2>
            <img class="w-75 m-auto" src="~/Content/Images/faro.jpg" />

            <a class="btn btn-danger btn-md" href="@Url.Action("SearchDestinos", "Reservas", new { dataInicio = DateTime.Today, dataFim = DateTime.Today.AddDays(1), localizacao = "Faro"})">Ver quartos</a>
        </div>
    </div>
</div>