/*footer{
    position: absolute;
    bottom: 0;
}*/

input{
    max-width: initial;
}

span.field-validation-error {
    font-size: 11px;
    color: red;
    font-weight: bold;
}

.content-controlo-acesso {
    padding: 25px 85px;
    background: white;
    border: 2px solid red;
    border-radius: 5px;
    margin: 40px 20%;
    background: #f8f6f6;
}

.title-controlo {
    color: red;
    text-align: center;
    margin-bottom: 50px;
}

.link-controlo {
    width: 100%;
    text-align: center;
    display: inline-block;
}

.li-user {
    margin-right: 15px;
    border-bottom: 1px solid red;
    font-weight: bold;
}

.dropdown-menu {
    right: 0;
}

#notif_content {
    display: none;
    z-index: 1000000;
    position: fixed;
    width: 25%;
    right: 20px;
    top: 20px;
    box-shadow: 0 0 17px 5px #919191;
}
    #notif_content.active {
        display: block;
        animation: fadein 1s;
    }
    #notif_content.deactive {
        display: none;
        animation: fadeout 1s;
    }

@keyframes fadein {
    from {
        top: 0px;
    }

    to {
        top: 20px;
    }
}

.no-margin{
    margin: 0 !important;
}
.no-padding {
    padding: 0 !important;
}

a.btn-danger {
    color: white !important;
    min-width: 125px;
}

    a.btn-danger.no-width {
        min-width: unset !important;
    }

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.25rem;
}

.no-results {
    text-align: center;
    font-size: 24px;
    font-style: italic;
    text-decoration: underline;
    margin-top: 20px;
}